@use '../../styles/variables' as v;

.home {
  margin: v.$gap-xl 0;
  padding: v.$gap-md 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$gap-lg;

  &__title {
    font-family: 'Sora', sans-serif;
    font-size: v.$size-lg;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }
}

.page-btn {
  cursor: pointer;
}
