@use '../../styles/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid hsl(var(--border));

  padding: calc(v.$pad / 2) v.$pad;

  &__nav {
    display: flex;
    align-items: baseline;
    gap: v.$gap-xl;

    &-logo {
      font-family: Monoton;
      font-size: v.$size-lg;
      color: hsl(var(--title));
    }

    &-link {
      display: flex;
      gap: v.$gap-lg;

      &-item {
        opacity: 80%;
        font-size: v.$size-smd;
      }

      &-item:hover {
        opacity: 100%;
        transition-duration: 500ms;
      }
    }
  }

  &__aside {
    display: flex;
    gap: v.$gap-xs;
  }
}
