@use '../../styles/variables' as v;

.game {
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    gap: v.$gap-xl;

    &-aside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-genre {
        display: flex;
        gap: v.$gap-xs;
      }

      &-platform {
        display: flex;
        gap: v.$gap-xs;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: v.$gap-md;

      &-title {
        text-transform: uppercase;
        font-size: v.$size-lg;
      }

      &-info {
        display: flex;
        gap: v.$gap-md;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-thumbnail {
      width: 80%;
      border-radius: v.$size-md;
      margin: auto;
    }

    &-description {
      font-size: v.$size-smd;
      text-align: justify;
      text-justify: inter-word;
      padding: v.$pad;
      margin: v.$gap-xs 0;
    }

    &-rate {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: v.$gap-sm;

      &-icon {
        width: v.$size-lg;
      }

      &-value {
        background-color: #51cb20;
        color: hsl(var(--background));
        padding: 0rem 0.2rem;
        border-radius: 0.2rem;
        font-weight: 800;
      }
    }
  }
}
